# Ignorar dependencias de Composer
vendor/

# Ignorar archivos de entorno sensibles
.env

# Ignorar cachés, logs y archivos innecesarios
*.log
*.cache

# Ignorar archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignorar base de datos local

*.exe
git-filter-repo/
